html {
    height: 100%;
  }
  body{
    background-color: grey;
    }
    * {
        box-sizing: border-box;
        text-align: center;
        
      }
      .grid-container {
        display: grid;
      }
  .header{
    text-align: center;
    font-size: 20pt;
    padding: 20px;
    clear: both;
    background: rgb(8, 18, 161);
    opacity: .9;
    text-decoration-color: red;
    font-weight: bold;
    }
    .section{
      width: 100%;
     text-align: center;
    font-size: 20pt;
    float: center;
  padding: 10px;
  clear: both;
  background-color: wheat;
  border: black;
  border-spacing: 10px;
 
  }
  .section1{
    font-size: 20pt;
 float: center;
  padding: 10px;
  clear: both;
  background-color:burlywood;
  border: black;
  border-spacing: 10px;
  width: 30%;
  
  }
  .p{
    display: flex;
    align-items: flex-end;
    
    font-size: 20pt;
 float: center;
  padding: 10px;
  clear: both;
  background-color:burlywood;
  border: black;
  border-spacing: 10px;
  width: 30%;
  }
  #wins{
 font-size: 20pt;
 float: center;
  padding: 10px;
  clear: both;
  background-color:burlywood;
  border: black;
  border-spacing: 10px;
  width: 30%;
  }
  #losses{
    font-size: 20pt;
    float: center;
     padding: 10px;
     clear: both;
     background-color:burlywood;
     border: black;
     border-spacing: 10px;
     width: 30%;
     }
     .wrap{
      display:flex;
    }
    .row{
      justify-content: space-between;
    }
    .bottomAnim {
      border: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2851A6 url("http://i.stack.imgur.com/spmUM.gif") left repeat-x;
      background-size: auto 65%;
      background-position: bottom;
      z-index: 1000;
    }
    